
<header id="header">
  <div class="logo">
    <h1>Solution <span>Market.</span></h1>
  </div>
  <form >
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="seach" id="seach" placeholder="Montre, Ordinateur, T-shirt">
    <button>Rechercher</button>
  </form>
  <nav class="navbar">
    <ul class="liste">
      <li><a href="#">Home</a></li>
      <li><a href="#service">Services </a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <div class="user"><i class="fa-regular fa-user"></i></div>

</header>
