@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

$wihte-color:#ffffff;
$black-color:#000000;
$primary-color:#f9a770;
$secondary-color:#BED754;
$color:#E3651D;
$gray-color:#750E21;

section.produits{
  height: 10vh;
}
div.element{
  width:13.6rem;
  height:25rem;
  padding: 5px;
  border-radius: 1rem;
  background-color: #f1f1f1f1;
  div.image{
    width: 100%;
    img{
      width: 100%;
      height: 14rem;
      border-radius: 2rem;
    }
  }
  div.info{
    text-align: center;
    padding-top: 10px;
    h1{
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif;
    }
    p{
      font-family: 'open sans';
      opacity: 0.8;
      font-size: 1.1rem;
    }
    p.price{
      color: $color;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}
