<section id="top-page">
  <div class="text">
    <h1>Solution <span>Market</span></h1>
    <p>Bienvenue sur <span>SolutionMarket</span> votre Plateforme de commerce local </p>
    <a href="#about">Plus D'info</a>
  </div>
  <div class="image">
    <img src="../../../../assets/image/topic/1.jpg" alt="">
  </div>
</section>
<section class="categorie">
  <div class="text">
    <h1>Nos Produits</h1>
  </div>
  <div class="container_elememt">
    <div class="element">
      <h1 class="title">Produits allimantaire</h1>
      <a href=""><img src="../../../../assets/image/agricole/1.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/agricole/2.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/agricole/3.jpg" alt=""></a>
    </div>
    <div class="element">
      <h1 class="title">Produits Electroniques</h1>
      <a href=""><img src="../../../../assets/image/electronique/1.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/electronique/2.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/electronique/3.jpg" alt=""></a>
    </div>
    <div class="element">
      <h1 class="title">Produits Cosmetique</h1>
      <a href=""><img src="../../../../assets/image/cosmetique/1.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/cosmetique/2.jpg" alt=""></a>
      <a href=""><img src="../../../../assets/image/cosmetique/3.jpg" alt=""></a>
    </div>
  </div>
</section>
<section class="slider">
  <div class="wrapper">
    <i class="fa-solid fa-chevron-left" id="left"></i>
    <ul class="carousel">
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/12.jpg" alt="img">
        </div>
        <p>Iphone</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/agricole/4.jpg" alt="img">
        </div>
        <p>Orange</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/agricole/6.jpg" alt="img">
        </div>
        <p>Mandarine</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/cosmetique/4.jpg" alt="img">
        </div>
        <p>parfun</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/cosmetique/5.jpg" alt="img">
        </div>
        <p>savon</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/4.jpg" alt="img">
        </div>
        <p>Souris</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/5.jpg" alt="img">
        </div>
        <p>Casque</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/6.jpg" alt="img">
        </div>
        <p>Iphone</p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/7.jpg" alt="img">
        </div>
        <p>Ordinateur </p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/6.jpg" alt="img">
        </div>
        <p>Iphone </p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/3.jpg" alt="img">
        </div>
        <p>Casque </p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/1.jpg" alt="img">
        </div>
        <p>Drone </p>
      </li>
      <li class="card">
        <div class="img">
          <img src="../../../../assets/image/electronique/14.jpg" alt="img">
        </div>
        <p>Ordinateur</p>
      </li>
    </ul>
    <i class="fa-solid fa-chevron-right" id="right"></i>
  </div>
</section>
<section class="recomendation">
  <div class="text">
    <h1>Recomendation</h1>
  </div>
  <div class="container">
    <div class="span">
      <span id="span-lef"></span>
      <span id="span-right"></span>
    </div>
    <div class="carousel">
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/6.jpg" alt="image">
            <div class="text">
              <p>Iphone</p>
              <p>prix <span>600$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/6.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/6.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/3.jpg" alt="image">
            <div class="text">
              <p>Casque</p>
              <p>prix <span>120$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/3.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/3.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/1.jpg" alt="image">
            <div class="text">
              <p>Drone</p>
              <p>prix <span>1000$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/1.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/1.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/14.jpg" alt="image">
            <div class="text">
              <p>Laptop</p>
              <p>prix <span>1000$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/14.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/14.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/6.jpg" alt="image">
            <div class="text">
              <p>Deodorant</p>
              <p>prix <span>15$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/6.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/6.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/3.jpg" alt="image">
            <div class="text">
              <p>Savon enticeptique</p>
              <p>prix <span>15$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/3.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/3.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/12.jpg" alt="image">
            <div class="text">
              <p>Lait</p>
              <p>prix <span>20$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/12.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/12.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/2.jpg" alt="image">
            <div class="text">
              <p>Lait</p>
              <p>prix <span>20$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/2.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/2.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/16.jpg" alt="image">
            <div class="text">
              <p>lait </p>
              <p>prix <span>20$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/16.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/16.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/cosmetique/10.jpg" alt="image">
            <div class="text">
              <p>savon</p>
              <p>prix <span>10$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/cosmetique/10.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/cosmetique/10.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/agricole/2.jpg" alt="image">
            <div class="text">
              <p>Papaye</p>
              <p>prix <span>1.5$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/agricole/2.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/agricole/2.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/agricole/6.jpg" alt="image">
            <div class="text">
              <p>mandarine</p>
              <p>prix <span>$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/agricole/6.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/agricole/6.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/agricole/7.jpg" alt="image">
            <div class="text">
              <p>Mouscade</p>
              <p>prix <span>1$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/agricole/7.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/agricole/7.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/agricole/3.jpg" alt="image">
            <div class="text">
              <p>Fruits</p>
              <p>prix <span>10$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/agricole/3.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/agricole/3.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/5.jpg" alt="image">
            <div class="text">
              <p>Casque</p>
              <p>prix <span>25$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/5.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/5.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/10.jpg" alt="image">
            <div class="text">
              <p>Objectif</p>
              <p>prix <span>100$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/10.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/10.jpg" alt="image"></div>
        </div>
      </div>
      <div class="article">
        <div class="lef">
          <div class="img">
            <img src="../../../../assets/image/electronique/4.jpg" alt="image">
            <div class="text">
              <p>Souris</p>
              <p>prix <span>10$</span></p>
            </div>
            </div>
        </div>
        <div class="right">
          <div><img src="../../../../assets/image/electronique/4.jpg" alt="image"></div>
          <div><img src="../../../../assets/image/electronique/4.jpg" alt="image"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="produits">
  <div class="text">
    <h1>Trouvez vos produits </h1>
  </div>
  <div class="container">
    <app-article *ngFor="let article of Articles" [article]="article"></app-article>
  </div>
</section>
<section id="Faqs">
  <div class="text">
    <h1>Questions Frequentes</h1>
  </div>
  <div class="element">
    <div class="img">
      <img src="../../../../assets/image/topic/3.jpg" alt="">
    </div>
    <div class="container">
      <div class="question active">
        <h1>C'est quoi SolutionMarket ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, minima.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptate.

        </p>
      </div>
      <div class="question">
        <h1>Pourquoi choisir SolutionMarket ?</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum esse dolorem commodi. Fugit asperiores cum eveniet rerum facilis quod nam?</p>
      </div>
      <div class="question">
        <h1>Comment ça marche ?</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati asperiores temporibus nemo, recusandae sunt magni et dolore nobis adipisci tempora, in ducimus quia soluta ipsa corrupti ab quaerat totam officia.</p>
      </div>
      <div class="question">
        <h1>Quel est la duree d'achat ? </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati asperiores temporibus nemo, recusandae sunt magni et dolore nobis adipisci tempora, in ducimus quia soluta ipsa corrupti ab quaerat totam officia.</p>
      </div>
    </div>
  </div>
</section>
<section class="localisation">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7943.588271274354!2d10.0484216!3d5.4481934!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105fb12c4b37d2c1%3A0x4158a13dbf0751b4!2sDschang!5e0!3m2!1sfr!2scm!4v1704425874628!5m2!1sfr!2scm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="text">
    <h2>Contactez Nous</h2>
    <a href="tel:+237692208956">+237692208956</a>
    <a href="mailto:tankwewilfried5@gmail.com">tankwewilfried5</a>
  </div>
</section>

